.typebox {
    margin: 1px 10px 10px 1px;
    width: 140px;
}

.loginbox {
    border: 2px solid black ;
    padding: 0px 10px 10px 0px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typearea {
    padding: 5px 5px 5px 5px;
    width: 150px;
}

.loginbutton {
    width: 150px;
}

.centering {
    text-align: center;
}